.notes {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: var(--margin-large) 0 0 1rem;
    align-items: center;
    height: 100vh;
    width: 30%;
    overflow: scroll;
    scrollbar-width: none;
}

.notes__heading {
    font-size: var(--font-medium);
}

.notes__list {
    align-self: flex-start;
    margin: var(--margin-medium) 0 0 0;
}

.notes__list_item {
    display: flex;
    width: 15rem;
    margin: var(--margin-medium) 0 0 0;
    justify-content: space-around;
    align-items: center;
    
}

.notes__profile {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    width: 4rem;
    color: #fff;
    font-weight: 500;
    border-radius: 50%;
    background: red;
}

.notes__name {
    color: #000;
    font-weight: 500;
    font-size: var(--font-medium-sm);
}

.notes__btn {
    position: absolute;
    height: 4.5rem;
    width: 4.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    bottom: 4rem;
    right: 3rem;
    background: transparent;
    border: none;
    outline: none;
    background: #16008B;
}